## This code illustrates how to get S&P500 index constituents and their identifiers from CRSP and Compustat
- Researchers used to be able to extract index membership information from Compustat's "comp.idxcst_his" data. Now that S&P pulled this piece of data off from WRDS platform, we have to turn to CRSP to get S&P500 Index membership data. 
- Unfortunately, there is no easy way to uncover constituents info for the other indices covered by "comp.idxcst_his".

In [1]:
#############################################
# S&P 500 Index Constituents                #
# Qingyi (Freda) Song Drechsler             #
# Date: October 2020                        #
# Update: November 2024 for CRSP CIZ format #
############################################# 

import pandas as pd
import wrds

### Step 1: Connect to WRDS

In [2]:
###################
# Connect to WRDS #
###################
conn=wrds.Connection()

Loading library list...
Done

### Step 2: Get SP500 Index Membership from CRSP
- I opt for the monthly frequency of the data, but one can choose to work with crsp.dsp500list if more precise date range is needed.

In [12]:
sp500 = conn.raw_sql("""
                        select *
                        from crsp.msp500list_v2
                        where mbrstartdt <= '12/31/2024'
                        and mbrenddt >= '01/01/2020'
                        order by mbrstartdt;
                        """, date_cols=['mbrstartddt', 'mbrenddt'])

sp500.head()

   permno    indno  mbrstartdt   mbrenddt mbrflg   indfam
0   15720  1000500  1925-12-31 2024-12-31   NORM  1100500
1   11404  1000500  1925-12-31 2024-12-31   NORM  1100500
2   11850  1000500  1925-12-31 2024-12-31   NORM  1100500
3   10145  1000500  1925-12-31 2024-12-31   NORM  1100500
4   14541  1000500  1925-12-31 2024-12-31   NORM  1100500

In [13]:
sp500_full = sp500
sp500_full.head(5)

   permno    indno  mbrstartdt   mbrenddt mbrflg   indfam
0   15720  1000500  1925-12-31 2024-12-31   NORM  1100500
1   11404  1000500  1925-12-31 2024-12-31   NORM  1100500
2   11850  1000500  1925-12-31 2024-12-31   NORM  1100500
3   10145  1000500  1925-12-31 2024-12-31   NORM  1100500
4   14541  1000500  1925-12-31 2024-12-31   NORM  1100500

### Step 4: Add Compustat Identifiers
- Link with Compustat's GVKEY and IID if need to work with fundamental data
- Linkage is done through crsp.ccmxpf_linktable

In [17]:
# Linking with Compustat through CCM

ccm=conn.raw_sql("""
                  select gvkey, liid as iid, lpermno as permno, linktype, linkprim, 
                  linkdt, linkenddt
                  from crsp.ccmxpf_linktable
                  where substr(linktype,1,1)='L'
                  and (linkprim ='C' or linkprim='P')
                  """, date_cols=['linkdt', 'linkenddt'])

# if linkenddt is missing then set to today date
ccm['linkenddt']=ccm['linkenddt'].fillna(pd.to_datetime('today'))

ccm = ccm.loc[(ccm['linkdt'] <= '12/31/2024')\
              &(ccm['linkenddt'] >= '01/01/2020')]

In [25]:
# Merge the CCM data with S&P500 data
# First just link by matching PERMNO
sp500ccm = pd.merge(sp500_full, ccm, how='left', on=['permno'])

# Then set link date bounds
sp500ccm = sp500ccm.loc[(sp500ccm['mbrenddt']>=sp500ccm['linkdt'])\
                        &(sp500ccm['mbrstartdt']<=sp500ccm['linkenddt'])]

sp500ccm['mbrstartdt'] = pd.to_datetime(sp500ccm['mbrstartdt'])
sp500ccm['mbrenddt'] = pd.to_datetime(sp500ccm['mbrenddt'])
sp500ccm.sample(5)

,permno,indno,mbrstartdt,mbrenddt,mbrflg,indfam,gvkey,iid,linktype,linkprim,linkdt,linkenddt
331,79057,1000500,2010-07-15,2024-12-31,NORM,1100500,028034,01,LC,P,1993-03-25,2025-04-11 18:07:12.380618
179,46886,1000500,1997-09-15,2024-12-31,NORM,1100500,006304,01,LU,P,1980-10-08,2025-04-11 18:07:12.380618
569,23876,1000500,2023-08-25,2024-12-31,NORM,1100500,041897,01,LC,P,2023-05-04,2025-04-11 18:07:12.380618
290,88352,1000500,2008-06-02,2024-12-31,NORM,1100500,136725,01,LC,P,2000-06-13,2025-04-11 18:07:12.380618
76,59459,1000500,1976-07-01,2024-12-31,NORM,1100500,062689,05,LC,P,2004-04-02,2025-04-11 18:07:12.380618

In [26]:
# Define Quarter End Dates
from pandas.tseries.offsets import QuarterEnd
quarters = pd.date_range(start='2020-01-01', end='2024-12-31', freq='QE')

quarters

DatetimeIndex(['2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31',
               '2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31',
               '2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31'],
              dtype='datetime64[ns]', freq='QE-DEC')

In [27]:
# For Each Quarter, Filter Active Membership
quarter_dict = {}

for date in quarters:
    quarter_label = f"{date.year}Q{date.quarter}"
    active = sp500ccm[
        (sp500ccm['mbrstartdt'] <= date) &
        (sp500ccm['mbrenddt'] >= date)
    ]
    active = active.drop_duplicates(subset='gvkey')  # keep one row per permno
    active = active[['gvkey', 'permno']].dropna()
    quarter_dict[quarter_label] = active

for quarter, df in quarter_dict.items():
    print(f"{quarter}: {len(df)} companies")

2020Q1: 501 companies
2020Q2: 501 companies
2020Q3: 501 companies
2020Q4: 501 companies
2021Q1: 501 companies
2021Q2: 501 companies
2021Q3: 501 companies
2021Q4: 501 companies
2022Q1: 501 companies
2022Q2: 501 companies
2022Q3: 501 companies
2022Q4: 501 companies
2023Q1: 501 companies
2023Q2: 501 companies
2023Q3: 501 companies
2023Q4: 501 companies
2024Q1: 501 companies
2024Q2: 501 companies
2024Q3: 502 companies
2024Q4: 501 companies

In [ ]:
quarter_dict

In [29]:
# 1. Get GVKEY–CIK mapping from Compustat
gvkey_cik = conn.raw_sql("""
    SELECT gvkey, conml, cik
    FROM comp.company
    WHERE cik IS NOT NULL
""")

# Check result
gvkey_cik = gvkey_cik.drop_duplicates(subset='gvkey').dropna()
gvkey_cik['cik'] = gvkey_cik['cik'].astype(str)
gvkey_cik.head()

    gvkey                    conml         cik
0  001001  A & M Food Services Inc  0000723576
1  001002                 AAI Corp  0001306124
2  001003    A.A. Importing Co Inc  0000730052
3  001004                 AAR Corp  0000001750
4  001007     ABKCO Industries Inc  0000001882

In [31]:
for quarter in quarter_dict:
    gvkeys = quarter_dict[quarter]
    quarter_ciks = pd.merge(gvkeys, gvkey_cik, on='gvkey', how='inner')[['gvkey', 'cik']].drop_duplicates()
    quarter_dict[quarter] = quarter_ciks

quarter_dict

{'2020Q1':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  025313  0001757898
 497  165746  0001335258
 498  024405  0000877212
 499  020116  0001590955
 500  030098  0001699150

 [501 rows x 2 columns],
 '2020Q2':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  162887  0001093557
 497  011376  0000105770
 498  010789  0000860731
 499  002220  0000012208
 500  126721  0001094285

 [501 rows x 2 columns],
 '2020Q3':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  002220  0000012208
 497  126721  0001094285
 498  023238  0001370637
 499  020228  0001596783
 500  010453  0000097210

 [501 rows x 2 columns],
 '2020Q4':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  010453  0000097210
 497  061420  0000945841
 498  036203  0001786842
 499  007637  0001792044
 500  184996  0001318605

 [501 rows x 2 columns],
 '2021Q1':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  160888  0001280452
 497  184725  0001413447
 498  021808  0001590895
 499  183736  0001474735
 500  030259  0000921738

 [501 rows x 2 columns],
 '2021Q2':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  183736  0001474735
 497  030259  0000921738
 498  018699  0000857005
 499  137131  0001100682
 500  038821  0001821825

 [501 rows x 2 columns],
 '2021Q3':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  034410  0001682852
 497  015414  0000842023
 498  023546  0001725057
 499  015417  0000079282
 500  026061  0000891103

 [501 rows x 2 columns],
 '2021Q4':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  026061  0000891103
 497  187697  0001352010
 498  160776  0001288784
 499  063172  0001013237
 500  023119  0001419612

 [501 rows x 2 columns],
 '2022Q1':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  063172  0001013237
 497  023119  0001419612
 498  040614  0001868275
 499  007921  0000072331
 500  152149  0001179929

 [501 rows x 2 columns],
 '2022Q2':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  028629  0000906345
 497  164296  0001437107
 498  032580  0001705696
 499  134932  0001097864
 500  028877  0001418135

 [501 rows x 2 columns],
 '2022Q3':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  032580  0001705696
 497  134932  0001097864
 498  028877  0001418135
 499  030004  0001687229
 500  112111  0001057352

 [501 rows x 2 columns],
 '2022Q4':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  008264  0001004980
 497  185532  0001389170
 498  061302  0000947484
 499  175404  0001274494
 500  064030  0001022671

 [501 rows x 2 columns],
 '2023Q1':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  064030  0001022671
 497  041818  0001932393
 498  177227  0001145197
 499  144435  0001996862
 500  013824  0000814547

 [501 rows x 2 columns],
 '2023Q2':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  177227  0001145197
 497  144435  0001996862
 498  013824  0000814547
 499  143912  0001069183
 500  171067  0001327567

 [501 rows x 2 columns],
 '2023Q3':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  143912  0001069183
 497  171067  0001327567
 498  041897  0001944048
 499  177088  0001393818
 500  037460  0001559720

 [501 rows x 2 columns],
 '2023Q4':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  005764  0000048898
 497  178015  0001397187
 498  035077  0001543151
 499  028195  0000898293
 500  163036  0001316835

 [501 rows x 2 columns],
 '2024Q1':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  035077  0001543151
 497  028195  0000898293
 498  163036  0001316835
 499  029015  0000910521
 500  176567  0001375365

 [501 rows x 2 columns],
 '2024Q2':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  045169  0001996810
 497  157373  0001692819
 498  035182  0001535527
 499  179741  0001404912
 500  023071  0001609711

 [501 rows x 2 columns],
 '2024Q3':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 497  283184  0002005951
 498  014489  0001571996
 499  036910  0001321655
 500  061380  0000922621
 501  050688  0002011286

 [502 rows x 2 columns],
 '2024Q4':       gvkey         cik
 0    009846  0000827052
 1    003413  0001047862
 2    004503  0000034088
 3    001300  0000773840
 4    002991  0000093410
 ..      ...         ...
 496  061380  0000922621
 497  010504  0001811074
 498  184254  0001858681
 499  122380  0001069202
 500  015044  0001327811

 [501 rows x 2 columns]}

In [34]:
# Merge all quarters into one DataFrame with a "quarter" column
all_quarters_df = []

for quarter, df in quarter_dict.items():
    df['quarter'] = quarter
    all_quarters_df.append(df)

final_cik_df = pd.concat(all_quarters_df, ignore_index=True)
final_cik_df.to_csv("sp500_all_quarters_cik.csv", index=False)

In [37]:
# Load all S&P 500 CIKs by quarter
cik_df = pd.read_csv("sp500_all_quarters_cik.csv")
cik_df['quarter'] = cik_df['quarter'].astype(str)
cik_df['cik'] = cik_df['cik'].astype(int)

In [38]:
cik_df

        gvkey      cik quarter
0        9846   827052  2020Q1
1        3413  1047862  2020Q1
2        4503    34088  2020Q1
3        1300   773840  2020Q1
4        2991    93410  2020Q1
...       ...      ...     ...
10016   61380   922621  2024Q4
10017   10504  1811074  2024Q4
10018  184254  1858681  2024Q4
10019  122380  1069202  2024Q4
10020   15044  1327811  2024Q4

[10021 rows x 3 columns]